
header, nav, main, footer, section, aside {
    padding: 10px;
    margin: 10px;
}


aside {
    float: right;
    width: 30%;
}


footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}


header {
    position: relative;
    background: lightblue;
}


a {
    text-decoration: none;
    color: blue;
}


a:hover {
    color: red;
}

